build
.vscode
Dockerfile
local
test.json
test.txt
.DS_Store
python/tmp
python/__pycache__
output.json
.idea
.cache
venv
Tmp
CMakePresets.json
printer
Data_game
Data_random
Data_warehouse
cmake-build-debug/


# 编译生成的目标文件
*.o
*.obj

# 编译生成的可执行文件
*.exe
*.out
*.app

# 静态、动态库文件
*.a
*.so
*.dll
*.dylib

# 调试文件、日志
*.dSYM/
*.log

# 构建目录
/build/
bin/
obj/

# CMake文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Code::Blocks
*.depend
*.layout

# Qt-Creator
*.pro.user

# VSCode相关
.vscode/
*.code-workspace

# Clion/JetBrains
.idea/

# Vim临时文件
*.swp

# 其他常见临时文件
*~
.DS_Store

# 忽略环境相关文件
.env
